USE [DAI]
GO
/****** Object:  Table [dbo].[beneficios]    Script Date: 4/19/2026 12:42:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beneficios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[id_comercio] [int] NULL,
	[descripcion_corta] [varchar](150) NULL,
	[descuento] [smallint] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_Beneficios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[beneficios_usuarios]    Script Date: 4/19/2026 12:42:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beneficios_usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_beneficio] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_beneficios_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comercios]    Script Date: 4/19/2026 12:42:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comercios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[telefono_principal] [varchar](75) NULL,
	[Comercio_DatosContacto] [varchar](150) NULL,
	[url] [varchar](512) NULL,
	[email] [varchar](320) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_comercios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincias]    Script Date: 4/19/2026 12:42:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[orden] [int] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_provincias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 4/19/2026 12:42:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](75) NOT NULL,
	[apellido] [varchar](75) NULL,
	[fecha_nacimiento] [date] NULL,
	[id_provincia] [int] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_beneficios_id_comercio]    Script Date: 4/19/2026 12:42:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_beneficios_id_comercio] ON [dbo].[beneficios]
(
	[id_comercio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_beneficios_usuarios_fecha]    Script Date: 4/19/2026 12:42:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_beneficios_usuarios_fecha] ON [dbo].[beneficios_usuarios]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_beneficios_usuarios_id_beneficio]    Script Date: 4/19/2026 12:42:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_beneficios_usuarios_id_beneficio] ON [dbo].[beneficios_usuarios]
(
	[id_beneficio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_beneficios_usuarios_id_usuario]    Script Date: 4/19/2026 12:42:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_beneficios_usuarios_id_usuario] ON [dbo].[beneficios_usuarios]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_usuarios_id_provincia]    Script Date: 4/19/2026 12:42:03 AM ******/
CREATE NONCLUSTERED INDEX [IX_usuarios_id_provincia] ON [dbo].[usuarios]
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[beneficios]  WITH CHECK ADD  CONSTRAINT [FK_beneficios_comercios] FOREIGN KEY([id_comercio])
REFERENCES [dbo].[comercios] ([id])
GO
ALTER TABLE [dbo].[beneficios] CHECK CONSTRAINT [FK_beneficios_comercios]
GO
ALTER TABLE [dbo].[beneficios_usuarios]  WITH CHECK ADD  CONSTRAINT [FK_beneficios_usuarios_beneficios] FOREIGN KEY([id_beneficio])
REFERENCES [dbo].[beneficios] ([id])
GO
ALTER TABLE [dbo].[beneficios_usuarios] CHECK CONSTRAINT [FK_beneficios_usuarios_beneficios]
GO
ALTER TABLE [dbo].[beneficios_usuarios]  WITH CHECK ADD  CONSTRAINT [FK_beneficios_usuarios_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[beneficios_usuarios] CHECK CONSTRAINT [FK_beneficios_usuarios_usuarios]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_provincias] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[provincias] ([id])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_provincias]
GO
